.post-detail {
  margin: 0;
  padding: 20px;
  background: white;
  border: 1px solid #d5d8df;
}
.post-title {
  margin-bottom: 0.25rem;
}
.post-meta {
  margin: 0;
  margin-bottom: 1.25rem;
  color: #999;
}
.post-meta p {
  margin: 0;
}
.button-group button {
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  margin-right: 0.8rem;
}
.icon-vote-container {
  display: inline-block;
  width:20px;
  height: 20px;
  margin-left: 0.3rem;
  position: relative;
}
.icon-vote-container:hover {
  border: 1px solid green;
}
.icon-vote-container:active {
  background: green;
}
.icon-vote {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20px;
}
.icon-vote-down {
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 20px;
}